{% extends 'base.html' %}

{% load static %}

{% block head_content %}
<title>Homepage | Ikimono</title>
{% endblock %}

{% block body_content %}
<!-- Banner -->
<div id="ikimonoFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    
    {% for serie in series %}
    {% if serie.banner_state == 'AC' %}
    {% if forloop.first %}
    <div class="carousel-item active">
    {% else %}
    <div class="carousel-item">
    {% endif %}
      <img src="{{ serie.picture_banner.url }}" class="d-block w-100" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <h1 class="text-carousel fadeIn3s">{{ serie.name }}</h1>
        <p class="text-carousel fadeIn3s">{{ serie.sinopsis }}</p>
        <div class="m-2">
          <a href="#" class="btn btn-outline-primary btn-lg fadeIn3s"><span class="far fa-play-circle"></span> Ver
            ahora</a>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#ikimonoFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#ikimonoFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<!--Fin de banner-->

<section class="container">
  <div class="title-center">
    Nuevos Episodios <span class="ticket">Hoy</span>
  </div>
  <div class="last-episodes">
    <div class="episode-content">
      <a href="#">
        <img src="{% static 'img/series/banner/Granbelm_banner.jpg' %}" class="img-fluid" alt="" class="" />
        <span class="serie-inf">Dr. Stone</span>
        <span class="cap-inf">Episodio 1</span>
      </a>
    </div>
  </div>
</section>


<section class="container">
  <div class="content-outstanding">
    <div class="last-series">
      {% for serie in series %}
      {% if serie.state == 'EM' %}
      <div class="serie-content">
        <a href="{% url 'series:serie' slug=serie.slug %}">
          <span class="estreno">Estreno</span>
          <img src="{{ serie.picture.url }}" class="img-fluid" alt="" class="" />
          <div class="serie-title ellipsis">
            {{ serie.name }}
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div class="trending">
      <div class="series-trending">
        <a href="#">
          <img src="{% static 'img/series/post/Granbelm.jpg' %}" class="img-fluid" alt="" srcset="">
          <div>asdaksjdlaksjdlaksjdlakjsd</div>
        </a>
      </div>
      <div class="series-trending">
        <a href="#">
          <img src="{% static 'img/series/post/Granbelm.jpg' %}" class="img-fluid" alt="" srcset="">
          <div>asdaksjdlaksjdlaksjdlakjsd</div>
        </a>
      </div>
      <div class="series-trending">
        <a href="#">
          <img src="{% static 'img/series/post/Granbelm.jpg' %}" class="img-fluid" alt="" srcset="">
          <div class="trending-body">
            <p class="serie-title">Granbelm</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>

{% endblock %}