{% extends 'base.html' %}

{% load static %}

{% block head_content %}
<title>Todas las series | Ikimono</title>
{% endblock %}

{% block body_content %}
<section class="banner-content">
  <div class="image-banner"></div>
</section>

<section class="container">
  <div class="all-series-content">
    {% for serie in series %}
    <div class="serie-content">
      <a href="{% url 'series:serie' slug=serie.slug %}">
        <span class="estreno">Estreno</span>
        <img src="{{ serie.picture.url }}" class="img-fluid" alt="" class="" />
        <div class="serie-title ellipsis">
          {{ serie.name }}
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>

{% include 'pagination.html' %}

{% endblock %}