{% load static %}

<nav class="menu-navigation">
  <div class="nav-content container">
    <div class="brand-content">
      <a href="/"><img src="{% static 'img/ikimono/logo-ikimono.png' %}" alt="Ikimono" class="logo"></a>
    </div>
    <div class="menu-links-content">
      <ul class="menu-links">
        <li class="item-menu"><a href="#" class="item-link">Series</a></li>
        <li class="item-menu"><a href="#" class="item-link">Peliculas</a></li>
        <li class="item-menu"><a href="#" class="item-link">Ovas</a></li>
        <li class="item-menu"><a href="#" class="item-link">Iniciar sesión</a></li>
      </ul>
    </div>
    <form action="" method="GET">
      <input class="search-box" type="search" name="search-box" placeholder="Buscardor de animes..." />
    </form>
  </div>
</nav>