$color-primary: #ff6600;
$color-white: #ffffff;
$color-black: #1f1f1f;
$color-graydark: #333333;
$color-graymedium: #545454;
$color-graylight: #dddddd;

.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.d-block {
  display: block !important;
}

.mt1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.fz-20 {
  font-size: 20px !important;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
}

.btn-outline-primary {
  padding: 10px 15px;
  border: 1px solid $color-primary;
  border-radius: 5px;
  color: $color-primary;
  font-size: 1.3rem;
}

.btn-outline-primary:hover {
  background: $color-primary;
  color: $color-white;
}

.title-center {
  text-align: center;
  margin: 3rem 0;
  font-size: 2em;
  line-height: 2.5;
  font-weight: 700;
}

.cap-inf {
  line-height: 24px;
  background-color: $color-graydark;
  border-radius: 0 5px 5px 0;
  padding: 0 8px;
  color: $color-white;
  margin-bottom: 3px;
  font-size: 11px;
  font-weight: 700;
  position: absolute;
  left: 0;
  bottom: 20px;
  z-index: 3;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  transition: .3s;
}

.video-content:hover .cap-inf {
  background-color: $color-primary;
  color: $color-white;
}

.serie-inf {
  line-height: 24px;
  background-color: $color-graydark;
  padding: 0 8px;
  color: $color-white;
  max-width: 150px;
  margin-bottom: 3px;
  font-size: 11px;
  font-weight: 700;
  position: absolute;
  right: 15px;
  top: 0;
  z-index: 3;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  transition: .3s;
}

.video-content:hover .serie-inf {
  background-color: $color-primary;
  color: $color-white;
}

.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

.ticket {
  padding: 5px 10px;
  background: $color-primary;
  color: $color-white;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 700;
}

.estreno {
  position: absolute;
  left: 5px;
  top: 22px;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  width: 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: rgba(255, 102, 0, .9);
  z-index: 1;
  line-height: 30px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  opacity: 0;
}

.kind-inf {
  line-height: 24px;
  background-color: $color-black;
  padding: 0 8px;
  color: $color-white;
  margin-bottom: 3px;
  font-size: 11px;
  font-weight: 700;
  position: absolute;
  left: 5px;
  bottom: 41px;
  z-index: 3;
}

@media screen and (max-width: 1024px){
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px){
}

@media screen and (max-width: 480px){

}

@media screen and (max-width: 320px){
}