// White Palete //
$color-primary: #ff6600;
$color-white: #ffffff;
$color-black: #1f1f1f;
$color-graydark: #333333;
$color-graymedium: #545454;
$color-graylight: #dddddd;

.last-episodes {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  justify-content: center;
}

.episode-content {
  position: relative;
  font-size: 13px;
}

.episode-content:hover .cap-inf,
.episode-content:hover .serie-inf {
  background-color: $color-primary;
  color: $color-white;
}

.content-outstanding {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 320px);
  grid-gap: 30px;
  justify-content: center;
  align-items: start;
}

.last-series {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  grid-gap: 15px;
}

.serie-content {
  padding: 5px;
  background: $color-white;
  border-radius: 10px;
  position: relative;
  box-shadow: 0px 2px 5px 1px rgba(255, 102, 0, 0.5);
  transition: all .2s;
}

.serie-content:hover {
  background: $color-primary;
  transform: translate3d(0px, -10px, 21px);
  box-shadow: 0px 2px 5px 2px rgba(255, 102, 0, 0.5);
  transition: all .2s;
}

.serie-content:hover .estreno {
  opacity: 1;
  transition: 0.1s;
}

.serie-content .img-fluid {
  border-radius: 5px;
}

.serie-title {
  color: $color-graydark;
  font-size: 13px;
  font-weight:700;
  line-height: 1.5;
  padding: 10px 10px 5px;
  transition: all .2s;
}

.serie-content:hover .serie-title {
  transition: all .2s;
  color: $color-white;
}

.trending {
  display: grid;
  grid-gap: 5px;
  background: $color-black;
  color: $color-graylight;
  padding: 5px;
  border-radius: 5px;
  border: 1.5px solid $color-graymedium;
}

.series-trending a {
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-gap: 10px;
}

.series-trending {
  height: 90px;
  padding: 5px;
  
}